/* ///////////////// En Commun /////////////////////*/

body{
  color: white;
  background-color:black;
}

#rectangle {
  width: 383px;
  height: auto;
  background-color: white;
  color: black;
  text-align: right;
}


article{
  margin-left: 0px;
  margin-top: 613px;
}





/*//////////// Header Logo + barre de navigation///////// */

#menu {
    
    justify-content: right;
    list-style-type: none;
    margin-left:685px;
    margin-right: 125px;
    text-align: end;
    display: inline;
    
  }

li a { 
    float: left;
    color: white;
    padding-left: 121px;
    text-decoration: none;
}


/* ///////////////// Page d'acceuil /////////////////////*/


.bienvenue{
    display: flex;
    padding-left: 185px;
    padding-top: 613px;
    text-align: center;

}

/* ///////////////// Page d'acceuil /////////////////////*/



